<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcitc.maplibrary">

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<!--    &lt;!&ndash;用于访问GPS定位&ndash;&gt;-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>


    <application>
        <service android:name="com.amap.api.location.APSService"
            android:exported="false" />
    </application>

</manifest>
